@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #242430;
    font-family: "Poppins", sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}



.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: #7270EC;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FEFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #7270EC;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20p;
    min-width: 400px;
}



#vaciar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu #carrito {
    border-radius: 3px 3px 20px 20px;
    display: none;
    max-height: 800px;
    overflow: auto;
}

.submenu #carrito::-webkit-scrollbar {
    width: 8px;

}


.submenu #carrito::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 10px;

}

.submenu #carrito::-webkit-scrollbar-track {
    background: transparent;

}























table {
    width: 100%;
}

th,
td {
    color: #FEFFFF;
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #FEFFFF;
    border: 1px solid #7270EC;
    border-radius: 25px;
    margin-top: 15px;
}

.btn-3:hover {
    background-color: #7270EC;
}

.footer {
    display: flex;
    padding: 30px 0;
}

.link {
    width: 20%;
}

.link h3 {
    color: #FEFFFF;
    margin-bottom: 20px;
}

.link a {
    color: #747B8F;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link p {
    color: #747B8F;
    font-size: 16px;
}


section {
    font-size: 17PX;
    text-transform: capitalize;
    color: white;
    margin: 5% 30%;
}




section img {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
    mask-image: linear-gradient(to top, transparent, black);

}